body{
    background-color: bisque;
}
.first-heading{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.featured{
    text-align: center;
}
#header{
    display: inline-flex;
}

.box{
    align-items: center;
    background-color: rgb(245, 236, 220);
    height: fit-content;
    width: 100vw;
    position: fixed;
    top: 0px;
}

#logo{
    max-width: 150px;
}
.search{
    align-items: center;
}
.search input{
    padding: 5px;
    margin-right: 5px;
}

#login-container{
    align-items: center;
}
.h1{
    text-align: center;
    margin: 20px;
}
.centered-text{
    text-align: center;
    margin: 70px ;
}
.banner-image{
    justify-content: space-around;
    width: 100vw;
    height: ;
}
.center-nav{
text-align: center;
margin: 20px;
background-color: rgb(93, 114, 93);
padding: 15px;
border-radius: 5px;
}
.center-nav ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.center-nav li{
    display: inline;
    margin: 15px;
}
.center-nav a:hover{
    color: white;
    text-decoration: underline;
}
a{
    color: lightgray;
    text-decoration: none;
}
.product-item p{
    margin: 0;
}
footer{
    background-color: black;
    text-align: center;
    padding:10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer ul{
    list-style-type: none
    padding 0
}
footer li{
    display: inline;
    margin: 15px;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
    text-decoration: underline;
}
