body{
    background-color: rgb(244, 242, 227);
}
.first-heading{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.featured{
    text-align: center;
}
#header{
    display: inline-flex;
}

.box{
    align-items: center;
    background-color: rgb(245, 236, 220);
    height: fit-content;
    width: 100vw;
    position: fixed;
    top: 0px;
}

#logo{
    max-width: 150px;
}
.search{
    align-items: center;
}
.search input{
    padding: 5px;
    margin-right: 5px;
}

#login-container{
    align-items: center;
}
.h1{
    text-align: center;
    margin: 20px;
}
.centered-text{
    text-align: center;
    margin: 70px ;
}
.center-nav{
    text-align: center;
    margin: 20px;
    background-color: rgb(93, 114, 93);
    padding: 15px;
}
.center-nav ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.center-nav li{
    display: inline;
    margin: 15px;
}
.center-nav a:hover{
    color: beige;
    text-decoration: underline;
}
a{
    color: rgb(188, 186, 186);
    text-decoration: none;
}
.kids-header{
    text-align: center;
}
#featuredproducts{
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    position: relative;
}

.featured1{
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vw;
    text-align: center;
}

.featured2{;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vw;
}

.featured3{
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vw;
    transition: transform 0.3s ease-in-out; 

}
.footer{
    background-color: black;
    text-align: center;
    padding:10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer ul{
    list-style-type: none
    padding 0
}
footer li{
    display: inline;
    margin: 15px;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
    text-decoration: underline;
}
