body{
    background-color: bisque;
}

.first-heading{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.featured{
    text-align: center;
}

#header{
    display: inline-flex;
}

.box{
    align-items: center;
    background-color: rgb(245, 236, 220);
    height: fit-content;
    width: 100vw;
    position: fixed;
    top: 0px;
}

#logo{
    max-width: 150px;
}
.search{
    align-items: center;
}
.search input{
    padding: 5px;
    margin-right: 5px;
}
.banner-images {
    display: flex;
    justify-content: auto;
    gap: 20px;/
}
.banner-images img {
    width: 30vw; 
    height: auto; 
    transition: transform 0.3s ease;
    border-radius: 8px; 
}

.banner-images img:hover {
    transform: scale(1.1);
}
#login-container{
    align-items: center;
}
.centered-text{
    text-align: center;
    margin: 70px ;
}

.center-nav{
    text-align: center;
    margin: 20px;
    background-color: rgb(93, 114, 93);
    padding: 15px;
}
.center-nav ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.center-nav li{
    display: inline;
    margin: 15px;
}
.center-nav a:hover{
    color: white;
    text-decoration: underline;
}
a{
    color: rgb(188, 186, 186);
    text-decoration: none;
}
.banner-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 20px;
}
.banner-images img{
    margin: 10px;
    height: 450px;
    object-fit: cover;
}
h2{
    text-align: center;
    margin: 20px;
}
p{
   max-width: 800px; 
   margin: 0 auto;
padding: 0 20px;
}
form{ 
    text-align: center;
    margin: 20px;
}
textarea{
    width: 80;
    height: 100px;
    margin: 10px;
    padding: 10px;
}
footer{
    background-color: black;
    text-align: center;
    padding:10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer ul{
    list-style-type: none
    padding 0
}
footer li{
    display: inline;
    margin: 15px;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
    text-decoration: underline;
}